[2021-03-10 14:31] marlonschlosshauer opened #4 "Issues Basis Endpunkt"
- [x] GET für Issues
 - [x] POST für Issues
 - [x] PUT für Issues
 - [ ] Endpoint für Issues eines Users
 - [x] Endpoint für Issues eines Projects
 - [ ] Endpoint für Issues einer Company
 - [x] Endpoint für Assigned von Ticket

[2021-03-10 14:31] marlonschlosshauer opened #5 "Projects Basis Endpunkt"
Projects Endpunkte:

- [x] Get (Alle)
- [x] Get (Bestimmte Id)
- [x] Post
- [x] Put

[2021-03-10 14:31] marlonschlosshauer opened #6 "Companies Basis Endpunkt"
- [x] GET Company
- [x] GET Companies
- [x] POST Company
- [ ] PUT Company

[2021-03-10 14:32] marlonschlosshauer opened #7 "Conversation Basis Endpunkt"
- [x] GET alle Konversationen
 - [x] GET eine Konversation per ID
 - [x] POST zum erstellen einer Konversation
 - [x] PUT zum erstellen/ersetzen einer Konversation per ID *
 \---
 - [x] DTO Modell

\* Ersetzen für M24.2

[2021-03-10 16:29] WilliamAkaWill opened #8 "Company und Project braucht den User und Role zugriff"
Ich habe heute mit dem feature "Company" angefangen und habe mit den Basis operationen angefangen.
Dabei ist mir aufgefallen, dass ich dafür Zugang zu den Repositorys/Servicen "User", "Role" und "Project" brauche.
Am Project teil arbeitet Lukas schon fleißig, aber für User und Role ist noch keiner zugeteilt.
Ich würde dann gerne die grundlegenden funktionen dafür programmieren, so das ich weiter a

[2021-03-10 17:43] pheim1 opened #9 "Autorisierung"
Bei der Entwicklung von Services bzw. Repositories muss nicht darauf geachtet werden, ob der Client welchen den Request macht, das auch darf. Sobald wir mit dem Authentifikations und vor allem mit dem Autorisierungs Arbeitspaketen anfangen, wird ein Attribut bereitgestellt, der an einen Controller oder Endpunkte hinzugefügt werden kann, der dann nach Rollen überprüft.

Wir können mit den Rollen au

[2021-03-11 06:51] #8 closed, assigned to pheim1

[2021-03-11 10:02] pheim1 opened #10 "Exceptions"
Ihr müsste keine TryCatch-Blöcke im Controller um die Service Methoden aufrufe bauen, es wird bald einen ExceptionHandler-Middleware geben, der dann automatisch Exceptiones abfängt und sie den Clients sauber und einheitlich darstellt.
Falls nötig, könnt ihr schon Exceptiones z.B. in den Services werfen => ID nicht mit übergeben oder es fehlt irgendwas ...

Bsp. der Basis Exception-Klasse von der e

[2021-03-11 14:29] marlonschlosshauer opened #11 "Testing im Backend"
@pheim1 hat mich darauf aufmerksam gemacht, dass wir gerade keine Test Strategie haben. Mein Kopf sagt mir, dass wir jetzt schon damit anfangen könnten. Philipp, hättest du einen Beispiel für einen Test ?

 @gedankenessen/backend habt ihr dazu irgendwelche Fragen ?

[2021-03-11 17:16] marlonschlosshauer opened #14 "Users Basis Endpunkt"
- [x] GET User
- [x] GET Users
- [x] PUT User
- [x] POST User

[2021-03-11 17:17] marlonschlosshauer opened #15 "States Basis Endpunkt"
- [x] GET States
- [x] GET State
- [x] POST State
- [x] PUT State
- [x] DELETE State

[2021-03-11 17:17] marlonschlosshauer opened #16 "ProjectUsers Basis Endpunkt"
- [x] Get (Alle)
- [x] Get Id
- [x] Put

[2021-03-11 20:13] WilliamAkaWill opened #18 "ID als ObjectId ist verwirrend"
wir hatten uns ja darauf geeinigt das wir die ID´s als ObjectId´s abbilden.
Nun ist es tatsächlich so, das ich beim programmieren gemerkt habe, das ich nicht genau weiß wie damit umzugehen ist.

Momentan sieht ein Beispiel Eintrag so aus:
[code]
Nun ist so eine ObjectId, wie man sieht in mehrere sachen aufgeteilt.
Ich hatte mir dann überlegt, dass der Endpunkt beim GET die ID als string übergeben

[2021-03-13 12:48] Luk-T opened #21 "Datenbank-Transaktionen / Sessions"
Wie können wir Datenbank-Transaktionen am besten in unserer Architektur umsetzen? Ich denke das wir zumindest für das Überprüfen von Deadlocks beim hinzufügen von Nachfolgern nicht darum kommen werden.

Code-Beispiel:
https://developer.mongodb.com/how-to/transactions-c-dotnet/

[2021-03-14 14:27] #18 closed, assigned to nobody

[2021-03-14 19:39] #5 closed, assigned to Luk-T

[2021-03-14 20:06] pheim1 opened #22 "Pluralisierung der URLs"
Mir ist gerade erst aufgefallen, das wir die URLs in Singular benennen. Ich hab euch den Fehler so auch im Workshop und im Ressourcen Diagramm vorgegeben. Laut Konvention sollte diese aber Pluralisiert sein. Sollten wir das jetzt noch umbiegen oder einfach lassen, was meint ihr?

Bsp.:
User-Ressource: ```/api/user -> /api/users```

[2021-03-16 09:44] #22 closed, assigned to nobody

[2021-03-16 10:06] Yochyo opened #24 "Soll Put nur updaten oder auch erstellen"
Gemäß des REST Standarts soll PUT ein Objekt updaten oder erstellen wenn es noch nicht existiert. Allerdings ist damit zusätzlicher Aufwand verbunden.

Meint ihr es reicht wenn PUT nur Objekte updated?

[2021-03-17 16:59] marlonschlosshauer opened #27 "CI/CD"
- [x] Build-Pipeline
 - [x] Test-Run-Pipeline
 - [x] Release (building docker image) Pipeline
 - [x] Server+Docker configured
 - [x] WebHook for automatic redeploy on server (optional)

[2021-03-18 15:45] marlonschlosshauer opened #30 "Project Business Logik"
Autorisierung
- [x] Nur Firmenaccount kann Projekte erstellen
- [ ] Nur Firmenaccount kann Projektrollen Verteilen
- [ ] Nur Mitarbeiter können eigene Status erstellen, bearbeiten und entfernen

Logik
- [x] Beim Erstellen eines Projekts auch die Standardstatus anlegen
- [x] Nur ein Projektleiter pro Projekt
- [x] Ein Status kann nur gelöscht werden, wenn sich kein Ticket in dem Status befindet
- [

[2021-03-18 15:45] marlonschlosshauer opened #31 "CompanyUsers Basis Endpunkt"
Mehr vom alten. Basis des Endpunktes. CRUD Operationen. Ya know the drill.
Hat niedrige Priorität weil wir das für den Vertical Slice nicht brauchen.

[2021-03-18 16:02] marlonschlosshauer opened #32 "Authentifizierung"
- [x] Authentication-Controller
 - [x] SignIn-Endpunkt um einen JWT-Token zu bekommen
 - [x] JWT-Konfiguration (Lifetime, Claims)
 - [x] Autorisierungs Attribut

[2021-03-19 11:35] #24 closed, assigned to nobody

[2021-03-19 20:28] #7 closed, assigned to pheim1

[2021-03-21 20:43] #16 closed, assigned to Luk-T

[2021-03-22 10:15] #15 closed, assigned to Luk-T

[2021-03-23 21:24] #27 closed, assigned to pheim1

[2021-03-26 17:35] Yochyo opened #36 "Service Variable in Service"
Um ein IssueDTO zu erstellen benötige ich den Status.
Es gibt allerdings kein StatusRepository sondern nur einen StatusService.

Es könnte zu Problemen kommen, wenn sich Services gegenseitig benötigen (Service1 benötigt Service2, Service2 benötigt Service1 -> Exception).
Man könnte das verhindern, indem man einen neuen StateService schreibt, der nur im IssueService referenziert wird. Allerdings hi

[2021-03-26 18:30] #36 closed, assigned to nobody

[2021-03-27 17:00] #6 closed, assigned to WilliamAkaWill

[2021-03-29 08:54] #10 closed, assigned to nobody

[2021-03-29 09:02] pheim1 opened #38 "Pull-Requests"
Bitte beim erstellen von Pull-Requests darauf achten, dass ihr es in den richtigen Branch merged -> `develop`.

Warum ist es plötzlich anders? Da wir ja mittlerweile einen `master`-Branch haben, der nun default ist, wird diese standardmäßig als ziel angenommen, ihr müsst das dann bitte beim erstellen des PR´s auf `develop` umstellen.

![image](https://user-images.githubusercontent.com/58334704/112

[2021-03-29 13:55] marlonschlosshauer opened #39 "State Basis Endpunkt"
Claudio erwähnte das da schon was gemacht wurde, wollte das noch schriftlich haben.
Gehe mal davon aus es sind bisher die gewöhnlichen Kanditaten:
- [x] GET State
- [x] GET States von Projekt
- [x] POST State
- [x] PUT State
- [x] Delete State (hier ohne check ob Status noch irgendwo vorkommt)

Hattest du weniger eingeplant oder kommt noch was dazu ?

[2021-03-29 19:00] #14 closed, assigned to WilliamAkaWill

[2021-04-01 19:57] #31 closed, assigned to WilliamAkaWill

[2021-04-02 18:39] marlonschlosshauer commented on #4
Mit #40 hat sich das hier dann erledigt, oder ?

[2021-04-02 18:46] pheim1 commented on #32
Den Authentifizierungs-Teil dürfte soweit fertig sein, was jedoch noch etwas Zeit benötigt, ist das Autorisierungs-Attribut (#9). Morgen habe ich mir vorgenommen daran weiter zu entwickeln.

[2021-04-03 14:53] #4 closed

[2021-04-03 16:38] #39 closed

[2021-04-03 16:51] marlonschlosshauer opened #41 "Issue Endpunkt: Erstellung, Typisierung und Status"
[Aufgaben](https://docs.google.com/spreadsheets/d/1fkJJCobvPiYgjcRDpPSxfUmstBT5icVhqKs293oSzsQ/edit#gid=0):
- [x] T7 Mitarbeiter können Tickets erstellen
- [x] T13 Ticket wird mit Status "Überprüfung" (in Verhandlungphase) gestartet
- [x] T48 Ein Ticket hat einen Typ
- [x] T49 Ein Ticket kann von Typ "Fehler" oder "Feature" sein
- [x] T52 Ein Ticket kann erstellt werden wenn es die benötigten Eige

[2021-04-03 16:56] marlonschlosshauer opened #42 "IssueRequirements und IssueSummary"
Aufgaben:
- [x] T64
- [x] T66
- [x] T67
- [x] T69
- [x] T70
- [x] T72

[2021-04-03 17:05] marlonschlosshauer opened #43 "IssueConversation"
Hast du schon ein paar Kriterien gefunden ? ([link](https://docs.google.com/spreadsheets/d/1fkJJCobvPiYgjcRDpPSxfUmstBT5icVhqKs293oSzsQ/edit#gid=0))

Autorisierung:
- [x] T24 Nur Benutzer die mindst. Schreibrecht haben können Nachrichten versenden
- [x] T27: Nur Benutzer die mindst. Leserecht (auf Ticket) haben können Nachrichten lesen

Logik:
- [x] T25: Falls Status Archiviert kann keine Nachrich

[2021-04-03 19:14] Luk-T commented on #43
Ich hab mal alle Punkte zu dem Thema aus der Traceability map und dem PH zusammengetragen.
Zwei Punkte will nochmal ansprechen, ich hab sie auch in der Traceability map kommentiert:
T24 und T40 sind aus meiner sicht das gleiche
T35 stimmt nicht ganz mit dem PH überein

[2021-04-03 19:44] marlonschlosshauer commented on #43
Ich frage morgen Philipp mal nach dem Status von Auth. Wenn er meint es bräuchte noch mehr Zeit, würde ich diese Kriterien verschieben.

Hab den Text hier angepasst. Ist jetzt über Status Archiviert. Wäre auch so im Arbeitspaket drin 👍

Ebenfalls gutes Kriterium für das AP.

Hmm, yo. Hab T40 mal gelöscht 👍

Hab den Text zu ``Nur Projektleiter kann Ticket zu Status "Abgeschlossen" bewegen wenn der

[2021-04-03 20:11] Luk-T commented on #43
Oh sorry, das war ein Tippfehler, ich hab eigentlich T25 statt T35 gemeint 😄

Hab die Punkten unter Logik in der Traceability map eingetragen, bei den Punkten unter Autorisierung mal noch nicht.

[2021-04-03 20:42] pheim1 commented on #32
Ich habe heute einiges ausprobiert und mich genauer mit der asp.net Dokumentation auseinander gesetzt was Authentifizierung angeht. Ich werde voraussichtlich morgen (falls ich zeit finde) und den Montag noch brauchen, bis ich einen geeigneten Kandidat für ein PR habe.

[2021-04-03 20:49] pheim1 commented on #9
Durch die Kürzung der URLs ist es nun nicht mehr so einfach, die gewünschten Attribute bereitzustellen. Ich hab mich nach reichlicher Recherche dafür endschieden weg von dem Attribut Ansatz zu gehen und etwas "neueres" zu verwenden, Stichpunkt "policy authorization". Wie das dann konkret aussieht und verwendet wird, werde ich dann in einem anderen Issue beschreiben.

[2021-04-03 20:49] #9 closed

[2021-04-03 21:18] marlonschlosshauer commented on #32
Kein Problem, nimm ruhig den langen weg. Mittwoch wäre so meine Deadline. Wir bräuchten das bisher für #30 und #43.

[2021-04-04 11:49] marlonschlosshauer opened #44 "GET Issue und GET Issues wirft 500 (ohne und mit "all" Flag)"
Bin über Swagger drauf gekommen. **Habe davor falsche GET Requests (leere oder falsche projectId und issueId) an GET Issue über Angular gesendet.** Zuvor hab ich in Angular einen 404 bekommen, jetzt bekomme ich dort auch den Fehlercode 500.
GET Companies funktioniert noch in Swagger & Angular.

### Repo (für momentanes Problem)
1. [Swagger](http://51.254.157.180:5000/swagger/index.html) öffnen
2.

[2021-04-05 09:38] Yochyo commented on #44
Ich schreibe nach und nach die ganzen Unit Tests für die Issue Endpunkte. Im nächsten Commit wird das hier gefixt sein.

[2021-04-05 13:08] Yochyo opened #45 "Brauchen wir für die Zusammenfassung in der Verhandlungsphase ein weiteres Flag in IssueDetail"
Im Pflichtenheft steht, "Wenn eine Zusammenfassung erstellt wurde, dürfen keine Requirements mehr hinzugefügt werden bis die Zusammenfassung akzeptiert oder abgelehnt wurde".

In IssueDetail haben wir das Flag "RequirementsAccepted" das prüft, ob die Zusammenfassung akzeptiert wurde. Allerdings fehlt eine Flag mit dem überprüft werden kann ob mom. eine Zusammenfassung existiert die noch akzeptiert

[2021-04-05 15:29] pheim1 commented on #45
RequirementsAccepted = false; Verhandlungsphase = true; **requirements = empty array;**

RequirementsAccepted = false; Verhandlungsphase = true;  **requirements = non empty array;**

requirements = zusammenfassung
Oder hab ich da was falsch verstanden? Kannst mich gerne korrigieren 😁

[2021-04-05 15:36] Yochyo commented on #45
Ich war der Auffassung, dass Requirements nach und nach hinzugefügt werden.

Wenn ich das bei dir richtig verstehe, würde man durch das erstellen von Requirements die Zusammenfassung erstellen.

Wenn "nicht leeres array" "zusammenfassung wurde erstellt" entspricht, bräuchte man noch einen Endpunkt, bei dem man mehrere Requirements gleichzeitig erstellen kann. Sonst würden alle Erstellversuche nach

[2021-04-05 15:40] pheim1 commented on #45
Ok, dann benötigen wir, falls keinem was anderes einfällt ein weiteres Feld in der DB (Model-Klasse anpassen).

[2021-04-05 15:41] Yochyo commented on #45
@Luk-T @Madara789

[2021-04-05 15:58] pheim1 commented on #45
Ich glaube, dass ich es, als ich die DB designend habe mit dem Status abfragen wollte.
Pflichtenheft: M38.0 ->"Requirements hinzufügen, entfernen"/"Zusammenfassung schicken" habe das als eigener Status aufgefasst. Aber es gibt solche Status ja nicht. Ich glaube nachträglich ein Status einzuführen wäre zu aufwendig, deswegen ist die Flag Idee nicht so schlecht.

[2021-04-05 16:13] Yochyo commented on #45
Dann würde ich eine Variable namens "RequirementsSummaryCreated" dafür in IssueDetails erstellen. Das Model im Frontend (@gedankenessen/frontend) müsste allerdings angepasst werden.

Muss die Datenbank eventuell auch neu aufgesetzt werden oder ist der Wert einfach false (false ist der default Wert von bool) wenn das Feld in der DB fehlt?

[2021-04-05 16:21] pheim1 commented on #45
Prinzipiell würde man eine Migration schreib, der jedem Dokument der Collection, dieses Feld hinzufügt, aber da wir ja nicht wirklich viel Daten haben, kann man es per CLI-Befehl/UpdateMany(...) hinzufügen. Kannst auch gerne mal versuchen, was passiert wenn du einfach nur das Feld bei einem hinzufügst und bei einem anderen nicht.

[2021-04-05 17:04] pheim1 commented on #32
So, ich hab gerade ein PR gestartet. Inhalt wie schon hier beschrieben, das Registrieren (unserer Kunden = Firma) und Login.

Des weiteren wollte ich eigentlich das Rollen-Attribut hinzufügen, da ich es schon mal in einem Demo Projekt implementiert hatte. Problem ist nur, das wir die URLs gekürzt haben und deswegen es nicht einfach möglich war den Code der schon existierte so zu übernehmen.

Ich h

[2021-04-05 18:40] marlonschlosshauer commented on #32
Wenn #46 gemerged ist, werden dann für Requests im Frontend und mit Swagger Credentials benötigt ?

[2021-04-05 19:04] pheim1 commented on #32
Nein, die sind weiterhin erstmal offen (sonst würde es ja alles ausbremsen).

[2021-04-06 18:12] BenjaminKuerten opened #47 "Error-500 beim registrieren von User mit selbem Username"
**Beschreibung des Bugs**
Beim registrieren von einem Nutzer der bereits existiert vom Username wird ein Error 500 geworfen.

**Reproduktions Schritte**
Steps to reproduce the behavior:
1. Nutzer Max Mustermann anmelden
2. Registrierung erfolgreich
3. Nutzer Max Mustermann anmelden
4. Error 500

**Erwartetes Verhalten**
Nutzer MMustermann2 wird als Username erstellt

[2021-04-06 19:35] Madara789 commented on #47
Ich konnte den Fehler nicht wirklich reproduzieren.
Daraufhin bin ich mit Louis kurz den Fehler durchgegangen und hier war die Sache das der Firmenname Unique sein muss und als wir den Firmennamen geändert hatten konnten wir einen User mit einen gleichen Namen erstellen.
Warum nun so eine Fehlermeldung angezeigt wird ist mir noch nicht ganz bewusst, ich bin das eben in Swagger durchgegangen und ha

[2021-04-06 19:41] BenjaminKuerten commented on #47
Der Fehler kam von Luis und wurde nur von mir in ein Issue gepackt.
Sollte ein Firmenname vergeben sein, sollte eher ein BadRequest zurückkommt mit einer Fehlermeldung, sodass das für einen Nutzer auch ersichtlich ist bzw. für uns auch unterscheidbar. Andernfalls würde auch das System vom Username Sinn machen, wobei ich eine Fehlermeldung auch für vollkommen ausreichend halte.

[2021-04-07 10:58] sfuerder commented on #44
Wann funktioniert der Issue Endpunkt richtig auf dem live System?

[2021-04-07 12:20] pheim1 commented on #47
Bitte Branch angeben. Habt ihr das mit der aktuellen Live Version gemacht oder im #46?

[2021-04-07 12:26] Yochyo commented on #44
Es scheint als wäre der Datensatz in der Datenbank fehlerhaft. Es wäre glaube ich gut, wenn alle wir einmal die ganze Datenbank, oder zumindest alle Issues, löschen.

@pheim1 bekomme ich von dir davon das Okay?

[2021-04-07 12:51] Yochyo opened #50 "Wie greift man auf den mongo docker zu"
Die Frage tritt ggf. nochmal in der Zukunft auf, weshalb ich hierfür ein Ticket erstelle.

Ich versuche gerade die Issue collection in der mongo Datenbank zu löschen.
Ich kann aber weder die Datenbank (mit "show dbs") finden noch auswählen.

Ich vermute, dass man sich erst authentifizieren muss, allerdings gingen die im Docker ENV hinterlegten Anmeldedaten nicht.

Zum Nachbilden:
1) Den mongo db d

[2021-04-07 12:51] Yochyo commented on #50
@pheim1

[2021-04-07 12:52] Yochyo commented on #50
Worst case setze ich den Docker neu auf.

[2021-04-07 12:59] pheim1 commented on #50
Wichtig ist immer dass du dich in der DB "admin" mit deinen Credentials anmeldest.

[2021-04-07 14:56] Yochyo commented on #50
Bei dieser Datenbank? http://51.254.157.180:9000/#!/1/docker/containers

[2021-04-07 15:05] pheim1 commented on #50
Genau, das ist ja unsere Live-Datenbank. Die URL zeigt jedoch auf die Portainer instanz. Unsere Datenbank läuft under 51.254.157.180:27888 (default Port wäre 27017, aber wir haben Port 27888 !)

[2021-04-07 15:09] pheim1 commented on #11
#46 beinhaltet Unit & Integrationstests, soweit wie ich gesehen habe, sind in #48 auch Integrationstests vorhanden an denen man sich Orientiren kann.

[2021-04-07 15:09] #11 closed

[2021-04-07 15:14] pheim1 commented on #50
Falls du es in Portainer machst, musst du dich natürlich davor noch mit dem richtigem Benutzername+Passwort anmelden.

`$ mongo --username <username> --password`

[2021-04-07 15:35] Yochyo commented on #44
Issue collection wurde gecleart

[2021-04-07 15:35] #44 closed

[2021-04-07 15:36] Yochyo commented on #50
Danke, hab die collection gecleart.

[2021-04-07 20:19] #32 closed

[2021-04-08 09:49] #50 closed

[2021-04-08 11:58] #47 closed

[2021-04-08 13:32] marlonschlosshauer commented on #47
@BenjaminKuerten Was hatte sich hier geändert das du es geschlossen hast ?

[2021-04-13 02:36] Madara789 commented on #45
Issue kann geschossen werden oder ? hab das mit dem neusten PR eingebaut.

[2021-04-13 11:13] #45 closed

[2021-04-14 13:21] Luk-T commented on #43
Kurzes Update: Ich hab alle Punkte unter Logik fertig, mit Ausnahme von den Nachrichten die bei den Zusammenfassungen erstellt werden sollen. Da würde ich erstmal warten, bis der Pull Request https://github.com/gedankenessen/goose-backend/pull/55/files fertig ist.

Bei zwei Punkten war ich mir unsicher:
- Soll das Feld CreatorUserId auch bei vom System automatisch generierten Nachrichten ausgefüll

[2021-04-14 16:43] marlonschlosshauer commented on #43
Ich hab nicht jedenfall im Kopf aber für die Statusänderung wäre das aufjedenfall gut.

Ich würde das Backend das handeln lassen. Nur eine Id zu senden (wie du es sicherlich auch in Verteilte Systeme machst) wäre korrekter, aber die Frontend Leute haben noch genug zu tun.

[2021-04-15 11:34] marlonschlosshauer opened #56 "Project: Autorisierung"
[Tracebility](https://docs.google.com/spreadsheets/d/1fkJJCobvPiYgjcRDpPSxfUmstBT5icVhqKs293oSzsQ/edit#gid=341667804):

Dann noch:
- [x] T106 Projekt benötigt einen Kunden um erstellt zu werden
- [x] T10 Nur Firma kann Projekte erstellen

Und von #30
- [x] Nur Firmenaccount kann Projektrollen Verteilen
- [x] T82 Nur Mitarbeiter (schreibend) und Projektleiter können eigene Status erstellen, bearbei

[2021-04-15 13:43] #42 closed

[2021-04-16 17:49] marlonschlosshauer opened #57 "Issue: Verhalten Verhandlungsphase"
[Tracebility](https://docs.google.com/spreadsheets/d/1fkJJCobvPiYgjcRDpPSxfUmstBT5icVhqKs293oSzsQ/edit#gid=341667804):

- [x] T57 Mitarbeiter können einem Ticket zugewiesen werden
- [x] T62 Während Verhandlungsphase hat Kunde nur Zugriff auf bestimmte Funktionen (siehe Ph.)
- [x] T63 Während Verhandlungsphase hat Mitarbeiter nur Zugriff auf bestimmte Funktionen (siehe Ph.)
- [x] T86 Status "Verhan

[2021-04-16 17:53] marlonschlosshauer opened #58 "Issue Verhalten Bearbeitungsphase"
[Tracebility](https://docs.google.com/spreadsheets/d/1fkJJCobvPiYgjcRDpPSxfUmstBT5icVhqKs293oSzsQ/edit#gid=341667804):

- [x] Merge konflikte lösen
- [x] T76 Während Bearbeitungsphase hat Kunde nur Zugriff auf bestimmte Funktionen (siehe Ph.)
  - [x] Nachrichten schreiben
  - [x] Ticket abbrechen (nur externe !)
- [x] T77 Während Bearbeitungsphase hat Mitarbeiter (+  Projektleiter & Firmenbesitzer

[2021-04-16 17:55] marlonschlosshauer opened #59 "Issue Rechte"
[Tracebility](https://docs.google.com/spreadsheets/d/1fkJJCobvPiYgjcRDpPSxfUmstBT5icVhqKs293oSzsQ/edit#gid=341667804):

- [x] T11 Nur Mitarbeiter und Firma können interne Tickets einsehen
- [x] T12 Nur Mitarbeiter und Kunden können Tickets einsehen
- [x] T16 Nur Mitarbeiter mit Schreibrecht können Status ändern
- [x] T24 Nur Benutzer die mindst. Schreibrecht haben können Nachrichten versenden
- [x

[2021-04-17 10:42] #38 closed

[2021-04-17 14:40] pheim1 commented on #56
@marlonschlosshauer Ich habe eine frage zu `T106 Projekt benötigt einen Kunden um erstellt zu werden`:

Das verwalten von Usern eines Projektes (oder einer Firma) wird über den `/api/projects/{projectId}/users/{userId}` Endpunkt gemacht. Da wir aber schon bei der Erstellung eines Projektes den Kunden setzten müssen, würde es nicht in die vorhandene Architektur passen.

Ich würde empfehlen, diese A

[2021-04-17 16:21] marlonschlosshauer commented on #56
Meinst du mit "diese Art von Business Logik" das ein Kunde gesetzt sein muss ? Ich könnte also über Swagger ein Projekt ohne Kunden erstellen ?

[2021-04-17 16:33] pheim1 commented on #56
Damit meine ich, dass wir das Backend nicht zubauen sollten. Ablauf wäre dann wie folgt:

1. Frontend erstellt Projekt über `POST /api/companies/{companyId}/projects`
2. Frontend erstellt Kunden für das erstellte Projekt über `POST /api/projects/{projectId}/users`

[2021-04-17 16:48] marlonschlosshauer commented on #56
Kann das Frontend machen 👍
@Namo2 Das bräuchten wir dann noch in ProjectSettings.

[2021-04-17 18:43] Namo2 commented on #56
Daran arbeite ich gerade.
Die Logik wollte ich selbst so einbauen :+1:

[2021-04-18 13:32] pheim1 commented on #56
Nach Rücksprache und nachdem ich mir swagger angeschaut habe, wird nun wie folgt ein Projekt + Kunde Angelegt.

1. Kunde wird für die Firma erstellt. `POST /api/companies/{companyId}/users` **(Dieser Schritt ist nur notwendig, falls es diesen User noch nicht gibt.)**
2. Projekt wird anlegen. `POST /api/companies/{companyId}/projects`
3. Kunde dem Projekt hinzufügen `PUT /api/projects/{projectId}/u

[2021-04-18 13:53] marlonschlosshauer commented on #56
Ich bin immer noch kein Freund von dem PUT beim hinzufügen des Kundens (erstellt aber ist "Änderung") aber so wie du es hier beschreibst, hatte ich es mir auch vorgestellt.

[2021-04-18 13:56] pheim1 commented on #56
[PUT](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/PUT#responses) steht in HTTP für erstellen und ersetzen wenn vorhanden (idempotent).

[2021-04-18 14:57] marlonschlosshauer commented on #56
Da hast ja recht. Ich glaube was mich stört ist das wir nirgends sonst diese Logik verwenden. Aber das liegt einfach daran das es sonst nirgends reinpasst.

[2021-04-18 19:27] Madara789 opened #60 "Issue State ändern"
Ich muss den Status ändern, momentan kann ich dafür nur einen PUT verwenden und muss bei diesem Request alles mitschicken.
[code]
Irgendwie scheint mir das komisch. Gibts da ne alternative?

[2021-04-18 19:27] Madara789 commented on #60
@gedankenessen/backend

[2021-04-19 09:16] Yochyo commented on #60
Mir ist kein anderer weg bekommt als der folgende:
1) Hol dir alle states vom Projekt
2) Such dir den aus der die richtige Phase/Status hat
3) mach eine PUT Request oder ruf die update methode im Service auf

[2021-04-19 11:13] pheim1 commented on #60
Abgesehen von @Yochyo Vorschlag, würden nur zwei varianten in fragen kommen,
bei denen man etwas programmieren müsste <img src="https://user-images.githubusercontent.com/58334704/115227424-bdc0a600-a110-11eb-8b40-ba36a31cd528.png" width="35" height="35">

1. Sub ressource (mit eigenem Controller): .../issues/{issueId}/state
2. [JSON Patch](https://docs.microsoft.com/de-de/aspnet/core/web-api/jsonp

[2021-04-19 11:22] Madara789 commented on #60
Ich weiß nicht tatsächlich würde ich dann die Sub resource besser finden.
Mit json patch bin ich nicht vertraut dewegen kann ich dazu nichts sagen.
Aber gut ich würde mich auch damit zufrieden geben, das so zu lassen ich finds halt nur ein bisschen unsinnig den ganzen kram mitzuschicken wenn man nur den State ändern möchte

[2021-04-19 11:59] pheim1 commented on #60
Genau deswegen gibt es ja JSON Patch.

[2021-04-19 12:38] marlonschlosshauer commented on #60
Hat das auch das Problem das man alle Daten mit geben müsste ?

[2021-04-20 09:02] sfuerder opened #61 "500 bei Issue Requirement"
**Beschreibung des Bugs**
Sobald ich ein Requirement erstellen möchte bekomme ich eine 500 Fehlermeldung, das Requirement wird jedoch richtig angelegt.

**Reproduktions Schritte**
Steps to reproduce the behavior:
1. POST Request erstellen
2. IssueId: 60797813db7f02ed5fd6ae79
3. body:
[code]

**Erwartetes Verhalten**
Keine Fehlermeldung zu bekommen, sondern eine 200er Meldung

**Branches**
- Fronte

[2021-04-20 10:10] Yochyo commented on #61
Fixed, release sollte demnächst oben sein.

[2021-04-20 12:57] Namo2 opened #62 "Project State: User Generated"
Hey,

wollte mich eben daran setzen die UserGenerated States im Frontend anzuzeigen.
Ich hab gemerkt, dass dieser bool bei einem GET nicht mitgeschickt wird.
Wurde das nur vergessen oder gibt es für mich eine andere möglichkeit herauszufinden ob es sich um einen Custom State handelt?

@gedankenessen/backend

[2021-04-20 12:59] Yochyo commented on #62
Ich release einen hotfix der gleich oben sein sollte

[2021-04-20 13:00] Namo2 commented on #62
Nice perfekt.

Kannst du mir noch sagen wie das erstellen eines neuen States dann abläuft?

[2021-04-20 13:07] Yochyo commented on #62
Beim erstellen wird UserGenerated automatisch auf true gesetzt. Den Wert musst du also nicht übergeben.

[2021-04-20 14:37] #62 closed

[2021-04-20 16:53] Luk-T commented on #30
Ich erlaube mir mal dieses Ticket zu schließen, weil die restlichen Punkte in [56](https://github.com/gedankenessen/goose-backend/issues/56) abgearbeitet werden.

[2021-04-20 16:54] #30 closed

[2021-04-22 09:29] #43 closed

[2021-04-22 17:56] pheim1 commented on #61
Wie ist der Status, wurde es gefixed @sfuerder ?

[2021-04-22 18:14] sfuerder commented on #61
Ja wurde behoben

[2021-04-22 18:14] #61 closed

[2021-04-22 21:04] marlonschlosshauer opened #65 "Keine Rolle in Projekt nachdem es erstellt wurde"
**Beschreibung des Bugs**
Wenn ich ein Projekt erstelle, wird der Benutzer der dieses erstellt nicht zu ProjectUser hinzugefügt.

**Reproduktions Schritte**
Frontend Schritte:
1. Gehe zu Projekt Dashboard
2. Erstelle Projekt
3. Öffne Projekt
4. Öffne ein Ticket
5. Versucht ProjectUser Endpunkt zu lesen (um Rolle zu erhalten), kriege 404

**Branches**
- Frontend: navigation
- Backend: live

Was mei

[2021-04-23 08:34] pheim1 commented on #65
Ich würde ihn bei der Erstellung des Projektes als Mitarbeiter dem Projekt hinzufügen. Da ich bei #56 an der stelle unterwegs bin, kann ich das in das Issue aufnehmen und implementieren. Falls es eilig ist, könnte ich auch ein Hotfix machen...

[2021-04-23 08:47] pheim1 commented on #65
Damit wir einheitlich wären, müsste man es analog wie hier machen: https://github.com/gedankenessen/goose-backend/issues/56#issuecomment-821992220

[2021-04-23 09:10] pheim1 commented on #65
Falls es dem Frontend aber helfen würde, kann man es auch einfach dazu implementieren, dass der Ersteller = Company Owner, dem Projekt als Member hinzugefügt wird. Was sagen die anderen dazu?

[2021-04-23 09:18] Madara789 commented on #60
Ich habe das jz so gelassen, dass man den status ändert in dem man ein Put im issue Controller machen

[2021-04-23 10:02] marlonschlosshauer commented on #65
Ich wusste doch das wir das Problem schon mal wo hatten! Gut, dann würde ich es so auch im Frontend implementieren.

[2021-04-23 16:41] BenjaminKuerten opened #66 "Bei fehlerhafter CompanyID werden falsche Projekte zurückgegeben (Default-Return)"
**Beschreibung des Bugs**
Bei fehlerhafter CompanyID werden 3 Projekte als Default zurückgegeben.

**Reproduktions Schritte**
Steps to reproduce the behavior:
1. Fontend/Swagger
2. Nicht existierende CompanyID eingeben
3. Ausführen

**Erwartetes Verhalten**
Es sollten keine Projekte zurückkommen

**Branches**
- Frontend: main+Demo
- Backend: master/live

![Screenshot_1](https://user-images.githubu

[2021-04-23 17:47] Luk-T commented on #66
Der Fehler ist folgender:

Wenn man in Asp.Net bei einem Controller nicht das ApiControllerAttribut hinzufügt, werden Fehler bei der Validierung des Requests einfach verschluckt, und die Company-Id wurde auf einen default-Wert (00000...) gesetzt. Beim Projektcontroller hab ich das Attribut leider vergessen, sorry

[2021-04-24 09:57] #60 closed

[2021-04-24 11:20] #66 closed

[2021-04-27 15:52] WhiroWhat opened #68 "Kann Zusammenfassung nicht ablehnen"
**Beschreibung des Bugs**
Beim ablehnen einer Zusammenfassung kommt immer:
[code]

**Reproduktions Schritte**
1.  Zusammenfassung erstellen
2.  Zusammenfassung ablehnen (PUT: http://51.254.157.180:5000/api/issues/60882bdd4f7533d0c74a822f/summaries?accept=false, body: {})

**Branches**
- Frontend: hotfix/ConversationComponentVS2
- Backend: master

[2021-04-27 17:02] Madara789 commented on #68
so release läuft sollte nun gefixt sein
das Problem war, dass die default werte von RequirementsAccepted und RequirementsSummaryCreated auf true waren

[2021-04-27 20:29] Namo2 opened #69 "Projekt Dashboard: Filtern der Projekte"
**Beschreibung des Bugs**
Hey, auf dem ProjektDashboard werden im Moment immer alle Projekte einer Firma angezeigt.
Auch wenn man z.B. als Kunde eingeloggt ist.

**Reproduktions Schritte**
Steps to reproduce the behavior:
1. Go to '/login'
2. Loginname: 'MRoss' (Passwort schreibe ich in den Discord)
3. Auf Login klicken

**Erwartetes Verhalten**
Auf dem Dashboard sollten nur die Projekte des Kunde

[2021-04-28 11:01] marlonschlosshauer commented on #69
Yep. Kann sein das wir davon aber in der Tracebility noch nicht angenommene Aufgaben haben.

[2021-04-28 14:16] BenjaminKuerten opened #70 "Bei Issue werden keine relevanten Dokumente gesetzt"
**Beschreibung des Bugs**
Beim create/put werden die relevanten Dokumente gesetzt

**Reproduktions Schritte**
Abgesendeter Request via put:
[code]

**Ergebnis**
[code]

**Erwartetes Verhalten**
Unter relevantDocuments sollte nun "Test14" stehen

**Branches**
- Frontend: main
- Backend: master

[2021-04-28 14:46] Yochyo commented on #70
Der hotfix sollte in 1-2 Minuten oben sein

[2021-04-28 17:32] Luk-T commented on #69
Ich kümmer mich drum 👍

[2021-04-28 18:04] Luk-T commented on #69
Ich würde das so implementieren:
Der Firmenaccount bekommt alle Projekte der Company, ansonsten (MItarbeiter & Kunden) bekommt man nur die Projekte in denen man auch eine Rolle hat.
Das sollte ja passen, oder?

[2021-04-28 19:19] Namo2 commented on #69
Würde ich auch so sagen

[2021-04-30 13:53] marlonschlosshauer commented on #69
@Luk-T Gab es hierfür nen Fix ?

[2021-05-01 09:01] Luk-T commented on #69
Kommt heute noch

[2021-05-01 10:18] marlonschlosshauer opened #73 "Benachrichtigungen"
[Tracebility](https://docs.google.com/spreadsheets/d/1fkJJCobvPiYgjcRDpPSxfUmstBT5icVhqKs293oSzsQ/edit#gid=341667804):

- [x] T79 Wenn geschätzte Zeit in Ticket übersprungen wird, erhaltet Kunde eine benachrichtigung
- [x] T107 Benachrichtigungen werden vom System erstellt
- [x] T108 Benachrichtigung wird erstellt falls ein Ticket abgebrochen wird
- [x] T109 Benachrichtigung wird erstellt wenn Zei

[2021-05-01 11:11] pheim1 commented on #70
@BenjaminKuerten Bitte schließen, falls der Bug gefixed wurde.

[2021-05-01 11:12] pheim1 commented on #68
@WhiroWhat Bitte schließen, falls der Bug gefixed wurde.

[2021-05-01 11:13] pheim1 commented on #65
@marlonschlosshauer Wie ist der Stand, machst du es wie beschrieben oder muss das Backend noch etwas daran ändern? Ansonsten bitte closen.

[2021-05-01 11:17] marlonschlosshauer commented on #65
Hat sich erledigt, danke für die Erinnerung 👍

[2021-05-01 11:17] #65 closed

[2021-05-01 13:51] #68 closed

[2021-05-01 13:51] WhiroWhat commented on #68
yep sry

[2021-05-02 13:19] #70 closed

[2021-05-02 20:46] marlonschlosshauer opened #76 "GET Issues wirft 500 statt 401 wenn keine Rechte"

[2021-05-02 21:52] #59 closed

[2021-05-03 13:02] WhiroWhat opened #77 "Rolle Firma müsste auch eine Projektrolle sein oder?"

[2021-05-03 14:04] pheim1 commented on #77
Kann, aber habe es so, dass ein Firmen-Owner in der Firma und nicht im Projekt diese Rolle hat. Du kannst ja zu dem jeweiligen Projekt die Rolle eines Users in der Company auslesen (companyId).

[2021-05-03 14:08] pheim1 commented on #76
401 unauthorized- nicht angemeldet, fehlender JWT Token
403 forbidden - keine Rechte

Welches meinst du ?

[2021-05-03 14:12] Yochyo commented on #77
Wir hatten einen Bug im Backend bei dem beim erstellen eines Issues nicht geprüft wurde ob der User einer Firma ist.
Ich hatte dazu gesagt, dass der Fix dazu etwas komplizierter ist, da die Firma keine Projektrolle ist (deshalb dieses Issue).

Gerade eben hat mir Willy aber gezeigt, dass das gar kein Problem ist.

[2021-05-03 14:15] marlonschlosshauer commented on #76
Sorry mit keine Rechte meinte ich das ich nicht als ProjectUser hinzugefügt war. Hab dann da 500 bekommen statt 403 oder 401.

[2021-05-03 15:40] #77 closed

[2021-05-03 17:50] Yochyo opened #78 "Prallele Schreibanfragen an die Datenbank führen zu falschen verhalten."
Gerade eben gab es einen Bug beim gleichzeitigen Hinzufügen von mehreren ProjectUsern. Der Grund dafür war, dass bei beiden Anfragen das Projekt gleichzeitig aus der DB geladen wurde, der ProjektUser hinzugefügt wurde und anschließend geupdated wurde.

Am Ende stand meistens nur einer der ProjectUsern in der DB.

Das gleiche Problem wird später auftauchen, wenn mehr als ein Nutzer die App verwende

[2021-05-03 17:51] Yochyo commented on #78
Außerdem funktionierten die Locks nicht, da für jede Anfrage ein neuer Service erstellt wurde (da der Service Scoped (nicht ein Singleton) war).

[2021-05-04 12:57] Luk-T commented on #78
Das wird nicht alle Probleme beheben. Wenn z.B. der ProjectUserService dem Projekt ein neuen Nutzer erstellt und gleichzeitig über den StateService ein neuer Status angelegt wird kann auch eine Änderung die andere überschreiben, weil beides im selben Dokument in der Datenbank gespeichert wird.

Ich sehe folgende Möglichkeiten:
- Wir kriegen die Transaktionen von mongoDB zum Laufen. Dann würden Kon

[2021-05-04 18:34] pheim1 commented on #78
Gute Zusammenfassung @Luk-T.
Am Anfang des Projektes habe ich den Vorschlag gemacht, ein Dokument mit einer Versions-Property zu versehen, damit wird sicher gestellt, dass man zumindest Optimistische Nebenläufigkeit hat: User 1 ladet die Daten, modifiziert sie, speichert aber noch nicht, User 2 ladet die Daten und speichert seine Änderungen vor User 1. Versucht nun User 1 zu speichern, so schlägt

[2021-05-04 21:30] Madara789 commented on #78
Diese ganze Sache ist ja aufgekommen weil wir im Frontend erstmalig einen ganz speziellen fall.
Und zwar wird es momentan im Frontend so gemacht:
Es wird ein Projekt erstellt, dazu wir automatisch und vorallem gleichzeitig der Firmen Account und der Kunde dem Projekt hinzugefügt. weshalb wir auch erst darauf gekommen sind, weil nachdem alle Request´s durch waren gab es manchmal nur einen Kunden od

[2021-05-04 21:38] marlonschlosshauer commented on #78
Wie würde das Frontend am besten damit umgehen ? Einen Sleep dazwischen schalten ? Bei dem Fehler eine Retransmission probieren?

Falls wir bis Donnerstag keine elegante Lösung gefunden haben, würde ich ein Sleep zwischen den zwei PUTs schalten.

[2021-05-04 21:51] pheim1 commented on #78
Mit `RxJS` kann man ja Aufrufe verzögern. Alternativ kann man auch `retry` für Retransmission einsetzen. Wobei das eigentlich nicht direkt Aufgabe des Frontends ist, aber eine möglicher Workaround.

Sessions fällt ja flach, ohne `replica set` (Außer da findet jemand ne Lösung). Will man ordentliche Fehlerbehebung, muss man halt Zeit und Mühe investieren, wie es bei einem richtigen Projekt angebrac

[2021-05-04 21:55] pheim1 commented on #69
@Namo2 Wurde der Bug gefixed? Das Ticket sollte zwar mit #72 automatisch schließen aber naja :D

[2021-05-04 22:04] Madara789 commented on #78
Wie sieht es dann mit Mutexen aus?
Wir hatten da gestern halt bisschen ausprobiert und dass hatte dann geklappt sowohl Kunde als auch Firmen Account war jedes mal Korrekt drinnen.
Dies Löst zwar nicht wirklich das Problem welches Lukas geschildert hat aber so können wir zumindest gleichzeitige zugriffe auf den gleichen Controller Locken.
Ich war mir nur nicht sicher ob die Implementierung wirklich

[2021-05-04 22:23] pheim1 commented on #78
Ich hab evtl. einen weg gefunden, eine `replica set` zu deployen. Falls morgen alles klappt, können wir dann Session benutzen.

[2021-05-04 23:31] Namo2 commented on #69
Jap ist mittlerweile gefixed :+1:

[2021-05-05 08:46] #69 closed

[2021-05-05 11:47] pheim1 commented on #78
Update: Ich habe so eben ein replica set auf unserem server deployed. Nun muss ich es mal lokal testen und dann müssen wir noch die Connection Strings anpassen.

@gedankenessen/alle Die Daten sind dann bis auf weiters wieder weg. Falls es wichtig ist, kann ich sie auch auf die neue Datenbank migrieren, dann bitte mich an schreiben.

[2021-05-05 12:35] pheim1 commented on #78
Also lokal konnte ich eine Session aufbauen und einen Commit schreiben. Ich poste in Discord den neuen Connection String. Den Connection String des live Backends werde ich vor dem PR, welcher die Sessions verwendet umändern.

[2021-05-05 12:36] pheim1 commented on #21
Mit dem Connection String in Discord kann man nun Sessions verwenden.

[2021-05-05 12:36] #21 closed

[2021-05-05 13:26] marlonschlosshauer commented on #78
Kill die Daten. Wollte ich heute Abend sowieso anfragen. Würde gerne beim Meeting über den Einfluss auf das Frontend (2x PUT ProjectUser etc.) von der Änderung reden.

[2021-05-05 15:53] #56 closed

[2021-05-05 18:09] pheim1 opened #80 "Concurrency conflicts"
Hier mal kurz zusammen getragen, wie wir mit Konflikten umgehen könnten. Ihr könnt auch gerne eure Ideen dazu schreiben, damit wir mal sammeln können und es am Freitag nach dem Meeting besprechen können.

# Pessimistic - Pessimistisch
Das nochmalige lesen oder schreiben in eine Collection wird verboten. Es wird immer davon ausgegangen, dass ein konflikt entsteht und dem vorgegriffen.

# Optimistic

[2021-05-06 08:39] marlonschlosshauer opened #81 "Kunde hat keine Berechtigung Ticket zu sehen"
**Beschreibung des Bugs**
Kunde kann Tickets eines Projektes in dem er Kunde ist nicht ansehen

![Screen Shot 2021-05-06 at 10 34 39](https://user-images.githubusercontent.com/24259317/117267815-f5408980-ae56-11eb-9672-3ce4fb01e65e.png)
![Screen Shot 2021-05-06 at 10 35 29](https://user-images.githubusercontent.com/24259317/117267822-f70a4d00-ae56-11eb-98b7-0af4e712ae0e.png)

Ticke in Frage hat Id

[2021-05-06 08:55] marlonschlosshauer opened #82 "Mitarbeiter kann sich nicht einlogen (Cannot signIn)"
**Beschreibung des Bugs**
Wollte mich mit Mitarbeiter (CWetzel) einloggen. Kunde & Firma hat funktioniert.

Fehlermeldung:
![Screen Shot 2021-05-06 at 10 44 39](https://user-images.githubusercontent.com/24259317/117269840-ebb82100-ae58-11eb-9772-f10bdfa0ed4b.png)

Erstellen von CompanyUser gibt 200:
![Screen Shot 2021-05-06 at 10 49 37](https://user-images.githubusercontent.com/24259317/117269962-

[2021-05-06 08:59] pheim1 commented on #82
Eventuell vertippt ?
![image](https://user-images.githubusercontent.com/58334704/117271014-1656a980-ae5a-11eb-82d3-85dee640d9cf.png)

[2021-05-06 09:01] pheim1 commented on #82
Also als `OLeztew` mit `qweqweqweqwe1` kann ich mich anmelden. Kannst du mir noch das PW für `CWetzel` geben?

[2021-05-06 09:05] marlonschlosshauer commented on #82
Hab das PW falsch gesetzt... alter. Sorry 😅

[2021-05-06 09:05] #82 closed

[2021-05-06 09:26] marlonschlosshauer opened #83 "Summary wird nicht erstellt"
Zusätzlich zu dem das es gerade passiert, habe ich von @WhiroWhat gehört das es in den letzten Tagen *manchmal* aufgetaucht ist.

IssueId: ``6093a7899a7ee12d76cd2769``
UserId: ``6093a5439a7ee12d76cd275a`` (Firma)

**Reproduktions Schritte**
1. Requirements erstellen (in diesem Fall 2)
2. POST Summary
3. Kein IssueConversation dafür etc.

IssueConversations (Swagger) nach abschicken von Summary:
[c

[2021-05-06 09:28] Yochyo commented on #81
Sollte gefixt sein, bitte ausprobieren.

[2021-05-06 10:01] marlonschlosshauer commented on #83
Hab gerade weitere Requirements hinzugefügt und es nochmal probiert. Hat dann funktioniert:
![image](https://user-images.githubusercontent.com/24259317/117280356-d1834080-ae62-11eb-8430-108f73fe132d.png)

[2021-05-06 10:04] marlonschlosshauer commented on #81
Ist gefixed, danke 👍

[2021-05-06 10:04] #81 closed

[2021-05-06 10:07] marlonschlosshauer commented on #83
Scheint nur jedes zweite mal zu funktionieren 🐴

[2021-05-06 10:20] marlonschlosshauer opened #84 "Startdatum & Deadline können nicht mit PUT hinzugefügt werden"
Request schickt Daten mit:
![image](https://user-images.githubusercontent.com/24259317/117282458-1019fa80-ae65-11eb-8928-3afb75097341.png)

**Reproduktions Schritte**
1. Erstelle Ticket ohne Startdatum oder Deadline (oder ohne beides)
2. Bearbeite Ticket und füge entweder oder ein.
3. Datum wurde nicht übernommen

**Branches**
- Frontend: demo_Plenarsitzung
- Backend: master

[2021-05-06 10:21] marlonschlosshauer commented on #76
@Yochyo hast du das gefixed oder war das #not-a-bug?

[2021-05-06 13:41] marlonschlosshauer commented on #83
@Madara789 hat wahrscheinlich mit mir den Bug im Frontend gefixed (war wieder ne parallele Sache). Ich melde mich wenn ich mehr weiß (1-2 Stunden).

[2021-05-06 14:15] marlonschlosshauer commented on #83
Yo lag an der parallelen geschichte, aiaiaiaiai 🐴

[2021-05-06 14:15] #83 closed

[2021-05-07 17:26] pheim1 commented on #80
Das Backend-Team hat sich heute einvernehmliches dafür endschieden, Optimistische Konfliktlösung einzuführen, in der Form, dass ein Dokument nun eine Version besitzt.

Bsp.:
User A fragt per GET eine Ressource mit Version 10 an.
User B fragt per GET eine Ressource mit Version 10 an.
User A modifiziert die Ressource bei sich lokal.
User B modifiziert die Ressource bei sich lokal und sendet per PUT

[2021-05-07 17:26] #80 closed

[2021-05-08 16:27] marlonschlosshauer commented on #57
Hey hey, gibt es hierfür eine Timeline? Hatte einen Fehler in der Planung und deswegen werden wir einen Konflikt mit #58 bekommen. Entschuldigung dafür.

Deadline für mich wäre spätestens Mittwoch (merge inkl.), meinst das ist realistisch?

[2021-05-08 16:28] marlonschlosshauer commented on #41
Wurde das schon gemerged?

[2021-05-08 20:06] marlonschlosshauer opened #85 "States: X darf Y"
[Tracebility](https://docs.google.com/spreadsheets/d/1fkJJCobvPiYgjcRDpPSxfUmstBT5icVhqKs293oSzsQ/edit#gid=341667804):

- [ ] T42 Nur Nutzer mit "Schreiberecht" darf eigene Statuse erstellen
- [ ] T60 Erstellte Statuse erhalten ihre Funktionalität von ausgewählter Phase (glaube schon impl.?)

[2021-05-08 20:09] marlonschlosshauer opened #86 "Zeiterfassung: Erweiterung + Logik"
[Tracebility](https://docs.google.com/spreadsheets/d/1fkJJCobvPiYgjcRDpPSxfUmstBT5icVhqKs293oSzsQ/edit#gid=341667804):

- [x] T17 Mitarbeiter kann (für jedes Ticket) Zeiterfassen starten
- [x] T18 Mitarbeiter kann Zeiterfassen stoppen
- [x] T19 Mitarbeiter kann nur eigene Zeiterfassungen stoppen
- [x] T20 Nur Mitarbeiter und Firma können Zeiterfassungen sehen
- [x] T21 Mitarbeiter kann nur eine Ze

[2021-05-08 23:10] Namo2 opened #87 "Error bei einem IssueTimeSheet POST Request"
**Beschreibung des Bugs**
Hey, ich bekomme den folgenden Error, wenn ich versuche ein TimeSheet in Swagger zu Posten:
[code]

**Input Daten**
CompanyId: 609421f4d837b069802b738e
ProjektId: 60942229d837b069802b7390
IssueId: 60942254d837b069802b739a
[code]

**Reproduktions Schritte**
Steps to reproduce the behavior:
1. Go to Swagger
2. Authentifizieren als MSchlosshauer
3. IssueTimeSheet -> IssueId

[2021-05-09 08:15] Yochyo commented on #41
Wurde gemerged.

[2021-05-09 08:15] #41 closed

[2021-05-09 08:18] Yochyo commented on #57
Mittwoch ist realistisch. Ich werde vermutlich morgen den PR machen.

[2021-05-09 09:08] marlonschlosshauer commented on #57
Super, melde dich bei Philipp wenn der PR durch ist 👍

[2021-05-09 13:48] marlonschlosshauer commented on #78
#80 schließt dieses Issue, oder?

[2021-05-10 17:24] #78 closed

[2021-05-10 17:26] Yochyo opened #88 "Tests funktionieren nicht mehr"
Die Tests, sowohl in der master als auch in der developer Branch schlagen größtenteils fehl.

Liegt das daran, dass die Datenbank gerade für Versionierung erweitert wird?

[2021-05-10 17:27] Yochyo commented on #88
@gedankenessen/backend

[2021-05-10 17:34] #88 closed

[2021-05-10 17:40] Yochyo commented on #87
Sollte jetzt gehen

[2021-05-11 10:06] Yochyo commented on #84
Momentan können Start/End-Daten nur in der Verhandlungsphase verändert werden. Im Pflichtenheft steht, dass nur das End-Datum immer geändert werden kann.
Soll beides immer Veränderbar sein?

[2021-05-11 10:43] marlonschlosshauer commented on #84
Guter Catch! Würde ich dann so lassen. Wenn sowieso ein Check drin ist (und es nicht zu viel arbeit wäre) würde ich vielleicht eine Fehlermeldung zurückschicken (somit auch die Anfrage rejecten).

[2021-05-11 18:21] Luk-T commented on #85
Ich wollte das gerade abarbeiten und habe im Code gesehen, dass T42 schon von @pheim1 abgearbeitet, ich hab das in der Traceability Map aktualisiert.

Zu T60 wird die Phase von den selbst erstellten Status auf jeden Fall in der DB gespeichert. Wie viel Logik dafür im Issue implementiert ist, weiß ich selber nicht.
Ich weiß ehrlich gesagt nicht genau, was mit T60 gemeint sein soll. Kannst du das bi

[2021-05-12 15:53] marlonschlosshauer commented on #85
Das wärs dann auch eigentlich für das Issue oder? 😂

[2021-05-12 15:54] marlonschlosshauer opened #89 "IssueRequirements: TODOs + X darf Y"
[Tracebility](https://docs.google.com/spreadsheets/d/1fkJJCobvPiYgjcRDpPSxfUmstBT5icVhqKs293oSzsQ/edit#gid=341667804):

- [x] Verhandlungsphase: Mitarbeiter mit Schreibrechte und Projektleiter, Firma darf Requirements hinzufügen + entfernen.
- [x] Restliche Phasen: Mitarbeiter mit Schreibrechte, Projektleiter und Firma dürfen Requirements als abgeschlossen markieren
- [x] Die Möglichkeit Requireme

[2021-05-12 16:39] Luk-T commented on #85
Denke schon

[2021-05-13 13:50] Yochyo opened #92 "Issue Ober-/Unterticket Logik"
[Tracebility](https://docs.google.com/spreadsheets/d/1fkJJCobvPiYgjcRDpPSxfUmstBT5icVhqKs293oSzsQ/edit#gid=341667804):

- [x] T87 Ein Ticket kann Untertickets beinhalten
- [x] T90 Ein Unterticket blockiert wenn es die Bearbeitungsphase erreicht aber das Oberticket noch Verhandelt
- [x] T91 Ein Unterticket kann nicht während Review oder Abschlussphase hinzugefügt werden
- [x] T93 Ein Unterticket ha

[2021-05-14 18:34] #57 closed

[2021-05-16 20:31] marlonschlosshauer commented on #89
Danke fürs Hinzufügen von den zwei Punkten. Bin gerade selber durch die Tracebility gegangen und hab nichts gefunden 😅
Ich hab noch hinzugefügt das die Firma Reqs. hinzufügen+entfernen kann. Das gleiche gilt natürlich auch fürs bearbeiten.

[2021-05-16 20:31] #58 closed

[2021-05-17 13:44] marlonschlosshauer opened #95 "IssueSummary: X darf Y"
[Tracebility](https://docs.google.com/spreadsheets/d/1fkJJCobvPiYgjcRDpPSxfUmstBT5icVhqKs293oSzsQ/edit#gid=341667804):

- [x] T68 Nur der Projektleiter kann in einem Ticket die Zusammenfassung erstellen
- [x] T71 Nur der nur der Autor oder Projektleiter, Firma (falls Intern) kann eine Zusammenfassung akzeptieren/ablehnen

Ist ein Issue wirklich dafür nötig? Ich weiß nicht. Hab ich es trotzdem geta

[2021-05-17 15:05] Madara789 commented on #76
sollte gefixt sein jz mit neusten release! war mein fehler : (

[2021-05-17 15:06] #73 closed

[2021-05-17 15:06] #76 closed

[2021-05-18 14:07] Luk-T commented on #86
Einige Sachen von dem TIcket waren bereits erledigt. Ich in der Traceability map wie folgt zugeordnet:

T17, T18: Schon implementiert von @Yochyo
T19, T41, T46, T47: Schon implementiert von @pheim1

Ich hoffe das ist so korrekt

[2021-05-18 15:23] marlonschlosshauer commented on #86
Mehr als korrekt, danke 👍

[2021-05-19 01:10] Namo2 opened #97 "403 beim Hinzufügen eines Custom States"
**Beschreibung des Bugs**
Hey, ich bekomme den Folgenden Error wenn ich versuche einen Eigenen Status zu einem Projekt hinzuzufügen (Als Firmen Account).
Ich denke es liegt daran, dass der Firmen Account hierbei nicht soviele Rechte hat wie ein Projektleiter.
Error:
[code]

**Input Values**
CompanyId: 609421f4d837b069802b738e
ProjectId: 609a569e62225c02480e1c20
Json:
[code]

**Reproduktions Schrit

[2021-05-19 07:43] Madara789 commented on #97
Hab mal einen Release gemacht bitte noch mal Prüfen
Company sollte nun einen State erstellen können

[2021-05-19 08:05] Namo2 commented on #97
Jetzt funktioniert wieder alles :+1:

[2021-05-19 08:05] #97 closed

[2021-05-19 15:39] #95 closed

[2021-05-20 10:09] marlonschlosshauer opened #100 "Issue: Unterticket erstellen"
[Tracebility](https://docs.google.com/spreadsheets/d/1fkJJCobvPiYgjcRDpPSxfUmstBT5icVhqKs293oSzsQ/edit#gid=341667804):

- [ ] T88 Ein Unterticket benötigt (fast) die selben wie ein Oberticket
- [ ] T89 Manche Angaben können von Oberticket abweichen (siehe Ph).
- [ ] T92 Ein Unterticket erbt manche Angaben von Oberticket (siehe Ph).

[2021-05-20 10:10] marlonschlosshauer commented on #92
Hab T88, T89, T92 in #100 ausgelagert.

[2021-05-20 10:11] Yochyo commented on #92
👍

[2021-05-20 10:14] marlonschlosshauer opened #101 "Issue: Vorgänger"
[Tracebility](https://docs.google.com/spreadsheets/d/1fkJJCobvPiYgjcRDpPSxfUmstBT5icVhqKs293oSzsQ/edit#gid=341667804):

- [x] T95 Ein Ticket kann ein oder mehrere Vorgänger hinzugefügt/entfernt werden
- [x] T96 Nur Mitarbeiter mit "Schreib" oder Projektleiter können Vorgänger hinzufügen/entfernt werden
- [x] T97 Wenn es einen Vorgänger gibt wird Ticket blockiert bis der Vorgänger in Abschlussphase

[2021-05-20 10:17] marlonschlosshauer opened #102 "Issue: Rest"
[Tracebility](https://docs.google.com/spreadsheets/d/1fkJJCobvPiYgjcRDpPSxfUmstBT5icVhqKs293oSzsQ/edit#gid=341667804):

- [x] T32 Nur Kunde und Projektleiter kann Ticket abbrechen
- [x] T33 Nur Kunde und Projektleiter kann Ticket in Verhandlungs oder Bearbeitungsphase abbrechen
- [x] T34 Nur Projektleiter kann Ticket in Abschlussphase bewegen
- [x] T35 Nur Projektleiter kann Ticket zu Status "Abge

[2021-05-20 10:24] marlonschlosshauer opened #103 "ProjectUser: Rest"
[Tracebility](https://docs.google.com/spreadsheets/d/1fkJJCobvPiYgjcRDpPSxfUmstBT5icVhqKs293oSzsQ/edit#gid=341667804):

- [x] T44 Die Rollen des Benutzers können nur von der Firma oder dem Projektleiter bearbeitet werden

Meinst das geht in 11 Tagen? 🕵️

[2021-05-20 14:42] Luk-T commented on #100
(Notiz an mich, damit ich nicht immer im PH nachschauen muss)

Vererbt wird:
Visibility Status, Priorität, Liste von Vorgängern

[2021-05-20 19:05] #86 closed

[2021-05-21 11:30] sfuerder opened #106 "IssueTimeSheet: Enddatum kann mit PUT nicht hinzugefügt werden"
**Beschreibung des Bugs**
Bei den meisten Issues kann ich mit einem PUT die timeSheets nicht ändern.
Bekomme immer folgende Fehlermeldung.

<img width="1492" alt="Bildschirmfoto 2021-05-21 um 13 29 21" src="https://user-images.githubusercontent.com/37979892/119130462-92dfaf80-ba38-11eb-9511-0f31582af463.png">

Etwas seltsam ist, dass es bei manchen issues geht, aber ich noch nicht wirklich herausg

[2021-05-21 11:46] pheim1 commented on #106
Ist ein Bug, der mir in #105 aufgefallen ist, sollte mit dem PR gelöst sein.

[2021-05-21 12:13] pheim1 commented on #102
T32&33 schneidet sich mit M29.0: Während der Bearbeitungsphase kann der Kunde das Ticket abbrechen

[2021-05-21 14:06] marlonschlosshauer commented on #102
Hab es angepasst, danke 👍

[2021-05-23 14:56] #100 closed

[2021-05-24 10:26] sfuerder opened #108 "Achieved Status kann nicht geändert werden"
Beim Ändern des Requirements bekomme ich folgenden Fehler.

<img width="1492" alt="Bildschirmfoto 2021-05-24 um 12 23 06" src="https://user-images.githubusercontent.com/37979892/119334084-f7924880-bc8a-11eb-98df-0614e5c4b32d.png">

Ich bin mir nicht ganz sicher aber theoretisch kann ich den achieved Status erst ändern, sobald eine Zusammenfassung erstellt wurde oder? Vorher wird ja noch nicht mit

[2021-05-24 10:33] pheim1 commented on #108
Ok, ja hab gerade nochmal im Code nachgeschaut, da muss ich das dann nochmal anpassen, da bei einem Update ein pre check das updaten eines Requirements bei schon vorhandenere Zusammenfassung blockiert ist.

Werde dir nachher ein Hotfix erstellen.

[2021-05-24 11:38] pheim1 commented on #106
@sfuerder könntest du bitte überprüfen, ob der Fehler gefixed wurde?

[2021-05-24 11:48] pheim1 commented on #108
Hotfix dürfe Online sein: https://github.com/gedankenessen/goose-backend/releases/tag/v0.1.4

Bitte überprüfe es nochmal.

[2021-05-24 16:21] sfuerder commented on #106
Funktioniert jetzt 👍🏼

[2021-05-24 16:21] #106 closed

[2021-05-24 16:22] sfuerder commented on #108
Funktioniert jetzt ebenfalls 👍🏼

[2021-05-24 16:22] #108 closed

[2021-05-24 18:05] marlonschlosshauer commented on #100
@Luk-T Hey hey die Aufgaben könnte man in der Tracebility noch abhacken, oder?

[2021-05-24 18:17] Luk-T commented on #100
Erledigt 👍

[2021-05-26 16:35] pheim1 commented on #102
T32 & T33 & T78 (Ausgenommen Projektleiter&Company, die dürfen weiterhin) wurde durch #58 implementiert.

[2021-05-28 09:19] Yochyo opened #112 "Endpunkt für alle Issues eines Users"
Wir brauchen einen Endpunkt der alle Issues zurückgibt, deren ein User zugeteilt ist. Siehe M13. Ich würde mich darum kümmern sobald die Vorgänger/Unterticket Geschichte fertig ist.

[2021-05-28 09:21] BenjaminKuerten opened #113 "GetAllIssueChildren: Abfragen von Untertickets der Untertickets"
[Tracebility](https://docs.google.com/spreadsheets/d/1fkJJCobvPiYgjcRDpPSxfUmstBT5icVhqKs293oSzsQ/edit#gid=341667804):

Damit wir das Backend nicht mit Anfragen bombardieren benötigen wir einen Endpunkt der uns alle Untertickets zurückgibt, heißt auch die Untertickets der Untertickets. Diese können theoretisch ohne Relation zurückgegeben werden (als einfache Liste).

[2021-05-28 09:39] pheim1 commented on #113
Was mich mal interessieren würde, hast du es mal mit dem "Anfragen bombardieren" versucht? Bzw. ob sich das bei der Menge überhaupt auf die Laufzeit auswirkt.

Ansonsten wäre es ja ein optionales feature, welches wir ans Ende der aktuellen Arbeitstakten packen, oder @marlonschlosshauer ?

[2021-05-28 09:45] BenjaminKuerten commented on #113
Ich habe schon mit @Yochyo gesprochen, die Funktion ist schon fast implementiert, wobei es für das Frontend eine menge Arbeit wäre. Bei 3 Untertickets müssten wir 16 Anfragen schicken, bei 4 Untertickets müssten wir schon 64 Anfragen senden.

[2021-05-28 09:47] pheim1 commented on #113
Alles klar, hätte mich mal interessiert wie sich das auf die Performance auswirkt, auf langer Sicht natürlich schrecklich, aber im Rahmen des Projektes meinte ich...

[2021-05-28 19:26] #89 closed

[2021-05-29 08:49] #103 closed

[2021-05-29 09:05] #92 closed

[2021-05-30 17:52] Yochyo commented on #112
@BenjaminKuerten sollen alle Issues eines Projekts denen der User zugewiesen ist oder wirklich ALLE Issues denen er zugewiesen ist zurückgegeben werden?

[2021-06-01 09:10] marlonschlosshauer commented on #112
@sfuerder @mschwer1 Habt ihr den Endpunkt auch angefragt (für das abfragen ob Timer schon wo gestartet wurde) ?

[2021-06-01 09:12] Yochyo commented on #112
der Endpunkt ist noch in keinem Release. Er wird mit #114 in das Projekt gemerged.

[2021-06-01 09:18] marlonschlosshauer commented on #112
Yo yo. Wir haben noch ein Problem mit dem erhalten der Timesheets, das dem nahe liegt. Aber ich fände eine Lösung über den Timesheet Endpunkt passender 🚀

[2021-06-01 10:53] sfuerder commented on #112
Das war die ursprüngliche Idee. Habe jetzt aber schon mitbekommen, dass das backend seidig gelöst wurde

[2021-06-04 00:12] #113 closed

[2021-06-04 00:15] BenjaminKuerten opened #117 "Unterticket kann nicht gesetzt werden"
**Beschreibung des Bugs**
Ob über das Frontend oder Swagger lassen sich keine Untertickets über die PUT-Anfrage erstellen.

**Reproduktions Schritte**
Steps to reproduce the behavior:
1. ParentID einfügen (Ticket existiert)
2. ChildrenID einfügen (Ticket existiert)
3. Absenden

**Erwartetes Verhalten**
Unterticket sollte gesetzt werden

**Branches**
- Frontend: SubTickets
- Backend: master
-
![Scr

[2021-06-04 00:22] BenjaminKuerten opened #118 "GetParent wirft 404"
**Beschreibung des Bugs**
Wenn das Ticket kein Parent hat, dann wirft es einen 404 Error.
Von der Logik her ok, allerdings habe ich leider keine Unterscheidung ob ein Ticket ein Parent hat oder nicht.
Ich muss jedes mal die Abfrage machen, um die möglicherweise existierende Priorität zu erfahren, die die maximale Priorität für das Child darstellt.

Lösung: Statt 404 eine leere Liste zurückgeben

*

[2021-06-04 02:06] BenjaminKuerten opened #119 "Vorgänger werfen selben Fehler wie Untertickets - siehe #117"
siehe #117

![Screenshot_4](https://user-images.githubusercontent.com/48795982/120735041-2c539a80-c4ea-11eb-8319-a3034680c5b3.png)

[2021-06-04 03:08] BenjaminKuerten commented on #119
Funktioniert nicht bei "alten" Tickets.
Tickets müssen nach Backend-Update erstellt worden sein.
DB platt machen?

[2021-06-04 03:08] #119 closed

[2021-06-04 03:08] BenjaminKuerten commented on #117
Funktioniert nicht bei "alten" Tickets.
Tickets müssen nach Backend-Update erstellt worden sein.
DB platt machen?

[2021-06-04 03:08] #117 closed

[2021-06-04 09:17] marlonschlosshauer opened #120 "Issue: Baustelle"
- [x] #118 GetParent wirft 404
- [x] Bug: Es kann der gleiche Vorgänger 2 mal hinzugefügt werden.
- [x] Bug: issues blockieren nicht automatisch wenn ein Unterticket/Vorgänger hinzugefügt wird
- [ ] Bug: Wenn man ein Oberticket im Unterticket als Vorgänger setzt, bekommt man einen BadRequest (400), aber es wird dennoch als Vorgänger gesetzt

**Branches**
- Frontend: SubTickets
- Backend: master

[2021-06-04 15:27] #118 closed

[2021-06-04 15:27] #102 closed

[2021-06-04 15:27] #101 closed

[2021-06-04 15:27] #112 closed

[2021-06-04 17:33] Yochyo opened #121 "Issues sollen erst in den ReviewStatus können wenn alle Untertickets abgeschlossen sind."
Momentan ist es so, dass ein Unterticket blockiert wird, so lange ein Unterticket noch nicht abgeschlossen ist.

Zukünftigt sollte es aber so sein, dass ein Unterticket das Oberticket nicht blockiert. Das Oberticket aber erst in den ReviewStatus gesetzt werden kann wenn alle Untertickets abgeschlossen sind.

@gedankenessen/frontend

[2021-06-04 17:36] Yochyo opened #122 "M43.5"
M43.5:
Wenn ein Unterticket in die Bearbeitungsphase kommt während das Oberticket noch nicht gestartet hat (Startdatum, Verhandlungsphase, Vorgänger), blockiert oder wartet es

@Yochyo

[2021-06-06 17:30] Namo2 opened #123 "Ticket im Status Review in die Abschlussphase setzen, durch einen CustomState"
**Beschreibung des Bugs**
Wenn ein Ticket in der Bearbeitungsphase ist und man einen Custom State (Abschlussphase) setzen möchte (siehe ST54),
dann folgt der folgende Error.
[code]
CompanyId: 60bce2f64f524d084725b0e8
ProjectId: 60bce3444f524d084725b0eb

Getestet als Firma/Projektleiter (STests/SMitarbeiter)

**Reproduktions Schritte**
Steps to reproduce the behavior:
1. Ticket erstellen.
2. Ticket

[2021-06-08 10:55] marlonschlosshauer commented on #121
Danke für die Dokumentation 👍 Ich weiße dich mal dem Issue zu, das klar ist wer was machen muss 🐶

[2021-06-08 10:56] marlonschlosshauer commented on #123
Ist das ``customState`` auch Issue baustelle @Yochyo

[2021-06-08 10:58] marlonschlosshauer commented on #120
@Yochyo Du hattest gemeint den letzten Bug hier ("Oberticket im Unterticket als Vorgänger") konntest du nicht machen. War das nur Momentan oder gibt es da größere Probleme?

[2021-06-08 11:47] Yochyo commented on #120
@BenjaminKuerten meinte der Vorgänger wird gesetzt, man bekommt aber den falschen Statuscode zurück. Entweder der Bug wurde nicht gefixt oder tritt nur unter bestimmten Vorraussetzungen auf.

[2021-06-08 11:50] marlonschlosshauer commented on #120
Sollten wir den Bug dann nicht fixen? Wir können aber das Ticket auch schließen, den Fehler genauer überprüfen und mit einem vollen Bug Report rangehen.

[2021-06-08 11:52] Yochyo commented on #120
Bis jetzt konnte ich ihn nicht reproduzieren. Ich habe das Issue offen gelassen falls der Fehler nochmal auftritt.

[2021-06-08 11:54] marlonschlosshauer commented on #120
Gut, ich würde das schließen und auf einen größeren Report warten. So ist es für alle einfacher zu verstehen was schon als Bug eingetragen ist und was noch unbekannt ist.

[2021-06-08 11:55] #120 closed

[2021-06-08 12:02] marlonschlosshauer opened #124 "Startdatum kann nicht in Bearbeitungsstatus gesetzt werden"
Ist da Logik dahinter um den Vorgänger/Unter/Ober/Ticket Algo in die Luft zu jagen?

**PUT Startdatum**
![PUT Startdatum](https://user-images.githubusercontent.com/24259317/121181133-f9026a00-c861-11eb-8d06-716a504279cc.png)

**GET Ticket**
![GET Ticket](https://user-images.githubusercontent.com/24259317/121181142-fa339700-c861-11eb-93bc-7ead1dc03016.png)

**Reproduktions Schritte**
1. Erstelle Ti

[2021-06-08 12:07] Yochyo commented on #123
Es gab noch kein Release mit custom states. Sollte gleich gehen.

[2021-06-08 12:17] Yochyo commented on #124
Das sollte umsetztbar sein. Ich schaue es mir an

[2021-06-12 17:15] marlonschlosshauer opened #125 "Fehlermeldungen"
Wir brauchen noch alle Fehlermeldungen für das [Pflichtenheft](https://docs.google.com/document/d/1sEfx8s7TNK57mixii6nnmde-BA_Cg0rQ6gjhfIwLcpw/edit#). Gäbe es da einen einfachen weg die alle zu erhalten?

[2021-06-12 17:37] Yochyo commented on #125
Momentan sind alle Fehlermeldungen an der jeweiligen Stelle im Codehargecoded. Eventuell sollten wir einer Datei speichern, sodass wir nur auf diese Zugreifen müssen.

[2021-06-12 17:41] marlonschlosshauer commented on #125
Das hätten wir vor einem Monat machen sollen 😂 Haben die ein Keyword oder werden die von einer Funktion aufgerufen das man danach suchen kann?

[2021-06-12 17:44] Yochyo commented on #125
Es gibt einige Kriterien wonach man suchen kann, sollte also machbar sein. Müssen die Fehlermeldungen eigentlich deutsch sein?

[2021-06-12 17:45] marlonschlosshauer commented on #125
Super. Wissen die anderen auch davon? Dann könnten wir das sammeln Verteilen (falls jeder Zeit hat).

Ne, aber selbst wenn würde ich es jetzt nicht mehr ändern.

[2021-06-12 18:12] Yochyo opened #126 "T58 Nur Projektleiter können Mitarbeiter einem Ticket zuweisen"
@Yochyo

[2021-06-13 10:00] Madara789 commented on #125
ja gut man kann auch einfach in Visual Studio nach HttpStatusException suchen und sich alle anzeigen lassen dann hat man alle Fehlermeldungen.

[2021-06-13 10:34] marlonschlosshauer commented on #125
Das war mit "ein Keyword oder werden die von einer Funktion aufgerufen" gemeint 🌚

138 Fehlermeldungen. Aua.

[2021-06-13 11:13] marlonschlosshauer commented on #125
Hab die Fehlermeldungen mal hier eingefügt: [Errors](https://docs.google.com/spreadsheets/d/1KC9pcwWCDbQPDAdCCh0eltcluTPUFacd9z_tp9np6dQ/edit#gid=1087085455)

Sind nicht genau 138 weil ich ein paar Zeilen doppelt gezählt hatte. Es ist zwar kein Kontext von den Fehlermeldungen da, aber ihr könnt gerne die Texte anpassen. Bin aber auch so zufrieden.

[2021-06-13 16:07] Yochyo commented on #123
@Namo2 kann das issue geschlossen werden?

[2021-06-13 16:36] Yochyo commented on #124
Man kann jetzt das StartDatum in der Bearbeitungsphase verändern (außer man ist im ReviewState) wenn die Verhandlungsphase übersprungen wurde.

[2021-06-13 16:37] #84 closed

[2021-06-13 19:13] marlonschlosshauer commented on #124
Top 👍 Hau es Live wenn du Zeit hast.

[2021-06-14 10:18] Namo2 commented on #123
Ich teste das die Tage nochmal und schließe dann das Ticket.
Danke für die Erinnerung :+1:

[2021-06-15 15:15] marlonschlosshauer opened #127 "Unterticket nicht in "Wartend" wenn mit Startdatum als "Fehler" gestartet wird"
![Screen Shot 2021-06-15 at 17 14 19](https://user-images.githubusercontent.com/24259317/122078864-2f5d5d80-cdfd-11eb-90b0-7f87a7f2586b.png)

**Beschreibung**

Das Ticket "Lastenheft zur Druckerei schicken" ist ein Unterticket mit Startdatum (noch nicht erreicht), wurde in dem Bearbeitungsstatus erstellt und ist auch in dem Bearbeitungsstatus, obwohl es Wartend sein soll (weil das Startdatum noch

[2021-06-15 15:31] marlonschlosshauer opened #128 "Zusammenfassung kann nicht in Unterticket angenommen werden"
![Screen Shot 2021-06-15 at 17 23 08](https://user-images.githubusercontent.com/24259317/122080174-5bc5a980-cdfe-11eb-8757-317c0ee8f697.png)

**Daten**
Oberticket ist Blockiert und hat Zusammenfassung angenommen:
URL: http://localhost:4200/609421f4d837b069802b738e/projects/60c8bcd7bc60a864d3bcf4ab/issues/60c8c42bbc60a864d3bcf4dd
Ticket: 60c8c42bbc60a864d3bcf4dd
Oberticket: 60c8bcecbc60a864d3bcf4b5

[2021-06-15 15:37] Yochyo opened #129 "Ticket soll auch akzeptiert werden können, auch wenn Issue noch in Überprüfung ist"

[2021-06-15 15:43] Yochyo commented on #126
@gedankenessen/frontend

[2021-06-15 15:43] Yochyo commented on #124
@gedankenessen/frontend

[2021-06-15 15:43] Yochyo commented on #121
@gedankenessen/frontend

[2021-06-15 15:44] Yochyo commented on #124
Bitte schließt das Issue wenn bei euch alles funktioniert

[2021-06-15 15:44] Yochyo commented on #121
Bitte schließt das Issue wenn bei euch alles funktioniert

[2021-06-15 15:44] Yochyo commented on #126
Bitte schließt das Issue wenn bei euch alles funktioniert

[2021-06-15 16:06] WhiroWhat opened #130 "Kunde keine Berechtigung Zusammenfassung anzunehmen"
**Beschreibung des Bugs**
Kunde kann die Zusammenfassung nicht anzunehmen oder ablehnen.

**Reproduktions Schritte**
1. Neues Projekt erstellt (mit kunde x)
2. Ticket erstellt
3. Requirements hinzugefügt und Zusammenfassung erstellt
4. Kunde kann nicht akzeptieren
![image](https://user-images.githubusercontent.com/48799541/122086756-49e70500-ce04-11eb-8764-c6435f6dda71.png)

**Erwartetes Verhalten

[2021-06-15 16:08] Luk-T opened #131 "Falsche Conversation, wenn Ticket durch Hinzufügen eines Vorhänger blockiert wird"
Es steht immer "Status wurde von Blockiert in Blockiert gewechselt." auch wenn es davor nicht blockiert war

[2021-06-15 16:23] Luk-T opened #132 "Untertickets werden nicht abgebrochen, wenn man das Oberticket abbricht"
st 92
m 43.5

[2021-06-15 16:35] Luk-T opened #133 "Beim Setzen von Start & Enddatum wird nicht auf Vorgänger und Nachfolger geachtet"
(ST 106 , ST 107) Beim Setzen von Start & Enddatum wird nicht auf Vorgänger und Nachfolger geachtet

[2021-06-15 17:30] Luk-T commented on #131
Ich kann einfach die Stelle nicht finden, wo diese Nachricht generiert wird

[2021-06-15 17:46] marlonschlosshauer commented on #132
Das hat vor zwei Wochen noch funktioniert. Ich kann mich daran erinnern das wir das EN gezeigt haben. Hm hm.

[2021-06-15 18:18] Yochyo commented on #128
Ich kann den Bug nicht reproduzieren. Ich habe als Firma die Zusammenfassung des Untertickets erstellt und akzeptiert. Habe ich irgendetwas anders als bei dir gemacht?

[2021-06-15 18:32] marlonschlosshauer commented on #128
Ich schaue es mir nochmal an und melde mich 👍

[2021-06-15 18:33] Yochyo commented on #131
Kannst du beschreiben, was genau du getan hast?

[2021-06-15 18:36] Yochyo commented on #130
Momentan kann nur der Kunde die Zusammenfassung annehmen, wenn er das Issue erstellt hat. Ansonsten können nur Firma und projektleiter die Zusammenfassung annehmen. @Madara789 soll das so sein?

[2021-06-15 18:49] Luk-T commented on #132
Ich hab die TIckets abgebrochen, indem ich den Status manuell auf abgebrochen gesetzt habe. Vielleicht kann man Tickets noch irgendwie anders abbrechen, und es funktioniert nur dort.

[2021-06-15 18:50] marlonschlosshauer opened #135 "Kann von eigenem Status (Verhandlungsphase) zu Bearbeiten (ohne Zusammenfassung zu akzeptieren)"
**Beschreibung des Bugs**
Die Zusammenfassung kann übersprungen werden wenn ein eigener Status für die Verhandlungsphase erstellt wurde, und dieser ausgewählt wird.

![image](https://user-images.githubusercontent.com/24259317/122106950-d6042700-ce1a-11eb-8b7b-a66a839f3466.png)

**Reproduktions Schritte**
1. Erstelle neuen Status: z.B. "Analyse", in Verhandlungsphase
2. Erstelle neues Ticket mit "F

[2021-06-15 19:06] Luk-T commented on #131
Ich habe gerade versucht, die Nachricht in einem neuen Projekt zu reproduzieren, aber das hat nicht geklappt. Da krieg ich keine Nachrichten mehr, das sich der Status verändert hat. Sehr seltsam.

Ich denke, wenn der Fehler nicht reproduzierbar ist, würde ich das Issue direkt wieder zumachen.

[2021-06-15 19:06] #131 closed

[2021-06-15 19:07] marlonschlosshauer commented on #128
Hab es mit neuem Ober&Unter-Ticket probiert und konnte die Zusammenfassung nicht annehmen.

URL: http://ticketgoose.de/609421f4d837b069802b738e/projects/60bf6649d76b6d225409a63c/issues/60c8f8653f7bf23add138d61

Nutzer: CWetzel & MSchlosshauer

Fehlermeldung:
[code]

Bei einem anderen Ticket hatte ich auch das Problem das ich nicht die Zusammenfassung annehmen konnte (ohne Oberticket). Ich schätze

[2021-06-15 19:11] Luk-T commented on #132
Ich hab das auch nochmal getestet, weil der andere Fehler auch nur in einem alten Projekt auftrat.

Hab ein neues Projekt angelegt und es hat dort einwandfrei geklappt. Wahrscheinlich war das alte Projekt einfach nur irgendwie broken :/

[2021-06-15 19:11] #132 closed

[2021-06-15 19:20] Luk-T commented on #133
Alle anderen Fehler, die ich heute gefunden habe, lagen wohl am zu alten Projekt. Ich hatte das schon vor nem Monat erstellt.

Ich hab deshalb nochmal mit einer nagelneuen Company getestet. Der Fehler trat aber auch in einem neuen Projekt auf.

[2021-06-15 19:29] WhiroWhat commented on #130
@Yochyo Es soll ziemlich sicher nicht so sein. https://github.com/gedankenessen/goose-frontend/issues/189

[2021-06-15 19:46] Madara789 commented on #130
also damals ich das implementiert hatte hieß es das der Kunde eine Zusammenfassung nur annehmen kann wenn er das Ticket auch erstellt hat.

[2021-06-15 22:45] Madara789 commented on #128
sollte mit dem nächsten Release gelöst sein!

[2021-06-15 22:45] Madara789 commented on #130
mit dem nächsten Release wird der Kunde auch berechtigt sein die Zusammenfassung anzunehmen!

[2021-06-16 15:34] #121 closed

[2021-06-16 15:34] #122 closed

[2021-06-16 15:35] #124 closed

[2021-06-16 15:35] #126 closed

[2021-06-16 15:35] #127 closed

[2021-06-16 15:35] #129 closed

[2021-06-17 18:15] Yochyo commented on #135
Man kann auch im Status Verhandlung den Status auf Bearbeitung ändern. Wird gefixt

[2021-06-17 18:35] marlonschlosshauer opened #137 "Zusammenfassung erstellen soll Status zu "Verhandlung" ändern"

[2021-06-17 18:40] marlonschlosshauer opened #138 "Mitarbeiter aus Projekt entfernen sollte Mitarbeiter von Tickets un-assignen"

[2021-06-17 18:46] Madara789 opened #139 "Timesheet End darf nicht vor Start sein"
![image](https://user-images.githubusercontent.com/48794109/122455826-1dbab800-cfad-11eb-9e84-53f064a7c9ab.png)

[2021-06-20 19:09] #138 closed

[2021-06-23 12:41] marlonschlosshauer commented on #135
yoyo gabs dafür schon einen fix?

[2021-06-23 12:54] #139 closed

[2021-06-23 16:57] #123 closed

[2021-06-23 16:58] #128 closed

[2021-06-23 16:58] #130 closed

[2021-06-23 16:58] #133 closed

[2021-06-24 18:28] #137 closed

[2021-06-24 18:28] #135 closed

[2021-06-27 13:50] Yochyo opened #143 "Im Vorgänger/Nachfolgert Endpunkt wird nicht nach internen/externen Issues gefiltert"
@Yochyo

[2021-06-27 16:26] marlonschlosshauer opened #144 "Kunde kann kein Unterticket erstellen"
**Beschreibung des Bugs**
Wollte von einem Ticket (Bearbeitung) ein Unterticket als Kunde erstellen.

![image](https://user-images.githubusercontent.com/24259317/123552021-93c0db00-d774-11eb-9ab7-9370e3912885.png)

Das Ticket wurde nun zwei mal erstellt (?):
![image](https://user-images.githubusercontent.com/24259317/123552053-b05d1300-d774-11eb-9b5c-845c0e525087.png)
(Siehe Ticket "test")

Habe e

[2021-06-27 16:41] Yochyo commented on #144
Bugfix ist raus. Wird im nächsten Release gefixt sein.

[2021-06-27 16:41] #144 closed

[2021-06-27 16:47] marlonschlosshauer opened #145 "Kann nicht von "Review" zu "Bearbeiten" (oder eigenen Statusen)"
![image](https://user-images.githubusercontent.com/24259317/123552793-11d2b100-d778-11eb-930a-c6fdfeeff27c.png)

**Branches**
- Frontend: main
- Backend: master

[2021-06-27 16:49] Yochyo commented on #145
Man soll aus dem Reviewstatus ein Issue nur abbrechen oder abschließen können (oder in einen eigenen Status in der Abschließphase). Zumindest war es so im Statusdiagramm vorgesehen.

[2021-06-27 16:50] marlonschlosshauer commented on #145
Hm, macht wenig Sinn. Wie viel Arbeit wäre es wenn du es so machst, das man auch wieder zurück in die anderen Statuse kann?

[2021-06-27 16:51] Yochyo commented on #145
Das ist nicht viel arbeit. Aber warum soll ein Issue von der Reviewphase wieder in die Bearbeitungsphase gehen können?

[2021-06-27 16:53] marlonschlosshauer commented on #145
Also ich meine Review Status und Bearbeiten Status. "Review" dient als Check ob das Ticket abgeschlossen ist oder ob noch etwas fehlt.
Mein Gedankengang ist; Was bringt ein Review wenn ich nur abrechnen oder abschließen kann? Vielleicht wurde ein Problem gefunden welches noch gefixed werden muss.

[2021-06-27 16:54] Yochyo commented on #145
Okay, das macht Sinn. Ich schreibe einen Bugfix der dann ebenfalls mit dem nächsten Release oben ist.

[2021-06-27 17:00] marlonschlosshauer opened #146 "Unterticket ist nicht Blockiert falls Oberticket in Verhandlungsphase"
**Beschreibung des Bugs**
Im Pflichtenheft haben wir folgendes:
[code]

Momentan ist das nicht der Fall:

![image](https://user-images.githubusercontent.com/24259317/123553117-bbff0880-d779-11eb-8478-edd607731a8f.png)

Ich wäre dazu bereit das wir es lassen, müsste es aber wissen (da ich es im Pflichtenheft durchstreichen sollte). Wie sieht da für dich der Zeitaufwand aus?

**Branches**
- Frontend

[2021-06-27 17:00] #125 closed

[2021-06-27 17:04] Yochyo commented on #145
Bug ist gefixt, getestet und gepusht.

[2021-06-27 17:04] #145 closed

[2021-06-27 17:06] Yochyo commented on #146
Sollte kein großer Aufwand sein. Wird ebenfalls im nächsten Release gefixt sein.

[2021-06-27 17:28] marlonschlosshauer opened #147 "Startdatum nicht änderbar wenn Wartend"
PUT:
![image](https://user-images.githubusercontent.com/24259317/123553827-b3103600-d77d-11eb-9dab-9beb49c2d81a.png)

Späteres GET:
![image](https://user-images.githubusercontent.com/24259317/123553865-d0450480-d77d-11eb-9804-5e518945fdec.png)

**Branches**
- Frontend: main
- Backend: master

[2021-06-28 13:31] WhiroWhat opened #148 "Unterticket blockiert nicht bei Vorgänger von Oberticket"
**Beschreibung des Bugs**
Wenn ein Ticket einen Vorgänger hat kann man nicht in die Bearbeitungsphase gehen (es blockiert stattdessen).
Das Unterticket sollte auch blockieren wenn das Oberticket einen Vorgänger hat, tut es aber nicht.

**Reproduktions Schritte**
1. "Oberticket erstellen"
2. "Unterticket" vom Oberticket erstellen
3. Vorgänger zum Oberticket hinzufügen
4. Oberticket Zusammenfassung

[2021-06-28 16:36] WhiroWhat opened #149 "Unterticket kann länger gehen als Oberticket"
**Beschreibung des Bugs**
Die Zeitangabe des Untertickets kann länger als die Zeitangabe des Obertickets gehen.

**Reproduktions Schritte**
1. Oberticket erstellen mit Datum1 und Datum2
2. "Unterticket erstellen" drücken
3. Unterticket mit Datum3 und Datum4 (Datum4-Datum3 >Datum2-Datum1) speichern

![unknown (1)](https://user-images.githubusercontent.com/48799541/123672442-99cfbe00-d83f-11eb-9e4d-

[2021-06-29 10:36] Yochyo commented on #148
Ein Unterticket soll nicht blockieren. Allerdings kann ein Oberticket erst in den Reviewstatus wenn alle Untertickets angeschlossen sind.

[2021-06-29 10:36] #148 closed

[2021-06-29 11:04] Yochyo commented on #147
Gerade ist es so, dass ein Startdatum in der Barbeitungsphase nur geändert werden kann, wenn es ein Bug ist. @marlonschlosshauer  soll ein issue immer in der Bearbeitungsphase änderbar sein?

[2021-06-29 11:13] Yochyo commented on #147
Mir ist gerade ein neuer Bug aufgefallen. Wenn bei einem Issue in der Bearbeitungsphase das Startdatum geändert wird das erst in der Zukunft eintritt, wird der Status nicht in Wartend gesetzt sondern bleibt in der Bearbeitungsphase.

Am einfachsten wäre es, wenn man in der Bearbeitungsphase das Startdatum gar nicht ändern könnte.

[2021-06-29 11:43] marlonschlosshauer commented on #147
Machen wir es so. Könntest du im frontend ein Ticket dafür erstellen und Benny taggen?

[2021-06-29 21:14] pheim1 opened #151 "Fehler bei Erstellung von Unterticket"
**Beschreibung des Bugs**
![print](https://user-images.githubusercontent.com/58334704/123868009-6c623d80-d92f-11eb-8bd8-d77f020965df.gif)

**Reproduktions Schritte**
Steps to reproduce the behavior:
1. Ticket anlegen
2. Ticket öffnen
3. "Unterticket erstellen"-Button klicken

**Erwartetes Verhalten**
Das Ticket wird zu einem Unterticket und nicht zu einem eigenständigem.

**Branches**
- Frontend:

[2021-06-30 09:36] marlonschlosshauer commented on #151
@Yochyo Hast du da ne Idee woran das liegen könnte? Das sollten wir noch fixen 👀 @Madara789 Wäre super falls du da helfen könntest.

[2021-06-30 15:55] Yochyo commented on #151
Könnte gefixt sein. Kann es zumindest nicht mit dem Issue aus deinem gif nachbilden.